.container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-areas:
    "header . . "
    ". . download"
    "add . search"
    "narrow-card narrow-card narrow-card"
    "panel panel panel ";
}

.narrowCard {
  grid-area: narrow-card;
}

.title {
  grid-area: header;
}

.searchComp {
  grid-area: search;
}

.addBtn {
  grid-area: add;
}

.panel {
  grid-area: panel;
}

.bookmarkPanel {
  grid-area: bookmark;
}

.downloadBtn {
  grid-area: download;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "add"
      "search"
      "download"
      "narrow-card"
      "panel";
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-areas:
      "header"
      "add"
      "search"
      "download"
      "narrow-card"
      "panel";
    grid-row-gap: 5px;
  }
}
