.container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-areas:
    "header . . "
    "add . search"
    "narrow-card narrow-card narrow-card"
    "panel panel panel ";
}

.narrowCard {
  grid-area: narrow-card;
}

.title {
  grid-area: header;
}

.searchComp {
  grid-area: search;
}

.addBtn {
  grid-area: add;
}

.panel {
  grid-area: panel;
}

.bookmarkPanel {
  grid-area: bookmark;
}
